$sky-100: #e0f2fe;
$sky-200: #bae6fd;
$sky-400: #38bdf8;
$sky-600: #0284c7;
$sky-800: #075985;

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-400: #94a3b8;
$slate-600: #475569;
$slate-800: #1e293b;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
